<div class="dashboard-container">
  <oefa-page-header title="Plantilla Base OEFA"
    subtitle="Inicio rápido para nuevos sistemas institucionales con Design System integrado.">
    <div actions>
      <a routerLink="/design-system">
        <oefa-button variant="primary" icon="search">
          Ver Catálogo Design System
        </oefa-button>
      </a>
    </div>
  </oefa-page-header>

  <!-- KPI Summary Bar (Cards nativas OEFA) -->
  <div class="kpi-grid">
    <oefa-kpi-card title="Componentes UI" value="30+" foot="Listos para usar" footType="positive" icon="check" />

    <oefa-kpi-card title="Estándar Institucional" value="100%" foot="Accesibilidad & Tokens" footType="positive"
      icon="leaf" />

    <oefa-kpi-card title="Arquitectura" value="Angular 22" foot="Standalone components" footType="neutral"
      icon="chart" />

    <oefa-kpi-card title="Modo Plantilla" value="Activo" foot="Sin dependencias de BD" [urgent]="true" icon="alert" />
  </div>

  <div class="kpi-grid">
    <div class="card-body">
      <div class="bento-grid">
        <oefa-bento-kpi-tile sector="Sector Supervisión" title="Fiscalización Directa" value="1,248"
          metricLabel="Actas en campo" trendLabel="+8.4% este mes" periodLabel="Periodo anual 2024" icon="close"
          iconColor="var(--oefa-primary-on-container)" bgTint="var(--oefa-primary-container)"
          accentColor="var(--oefa-primary-root)" status="EN_PROCESO" chartType="donut" [percentage]="20"
          (tileClick)="onSelectTile('Fiscalización Directa')" />
      </div>
    </div>
    <div class="card-body">
      <div class="bento-grid">
        <oefa-bento-kpi-tile sector="Sector Supervisión" title="Fiscalización Directa" value="1,248"
          metricLabel="Actas en campo" trendLabel="+8.4% este mes" periodLabel="Periodo anual 2024" icon="close"
          iconColor="var(--oefa-primary-on-container)" bgTint="var(--oefa-primary-container)"
          accentColor="var(--oefa-primary-root)" status="EN_PROCESO" chartType="donut" [percentage]="20"
          (tileClick)="onSelectTile('Fiscalización Directa')" />
      </div>
    </div>
  </div>

  <!-- Card estándar con fill de superficie y borde OEFA -->
  <div class="card p-6">
    <h2 class="welcome-title">Bienvenido al Starter Kit OEFA</h2>
    <p class="welcome-text">
      Esta plantilla contiene todos los tokens, tipografías corporativas, componentes compartidos
      y estilos globales del Design System de OEFA. Puedes comenzar creando tus modelos, servicios y vistas de negocio.
    </p>
    <div class="welcome-actions">
      <a routerLink="/design-system/botones">
        <oefa-button variant="secondary" icon="plus">
          Explorar Catálogo de Componentes
        </oefa-button>
      </a>
    </div>
  </div>
</div>